@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* hero banner bg image style */
.heroBanner {
  background: url("../assets/heritage_heroimg.jpeg");
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.buyPageBanner {
  background: url("../assets/buy_page_banner.jpeg");
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}
